$text-primary: #243137;
$text-secondary: #51809b;

$background: #f3ddbc;
$background-item: #f1d9be;
$background-select: #f5e3c9;

$border: #61727a;
$border-item: #e7b69f;

$fonts: 'DotGothic16', sans-serif;
