div.box.box--small
  button(type='button').navBtn.hidden
    svg.icon.icon-tabler.icon-tabler-menu-2(xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
      path(stroke='none' d='M0 0h24v24H0z' fill='none')
      line(x1='4' y1='6' x2='20' y2='6')
      line(x1='4' y1='12' x2='20' y2='12')
      line(x1='4' y1='18' x2='20' y2='18')
      
  div.navDropdown
    div.box__header
      h1 Welcome to Pixel Mart
      p Please take care of our inventory so we can satisfy our customers.

    nav
      ul
        li.nav__category
          a.nav__link(href='/catalog') Home
        li
          ul
            - categories.sort((a, b) => a.name.toUpperCase().localeCompare(b.name.toUpperCase()))
            each category in categories
              li
                a.nav__link(href=`/catalog/category/${category._id}`) #{category.name}

            li
              a.nav__link(href='/catalog/items') All Items

        li.nav__category
          ul
            li
              a.nav__link(href='/catalog/category/create') Create new category
            li
              a.nav__link(href='/catalog/item/create') Create new item
  
  a(href='/catalog')