extends ../layout

block content
  main.box.category--delete
    h1 #{title} (#{category.name})

    div #{category.description}

    - items.sort((a, b) => a.name.toUpperCase().localeCompare(b.name.toUpperCase()))
    ul.item_list_text
      for item in items
        li #{item.name}

    p Deleting this category will also delete all associated items. Do you really want to delete this Category ?

    form(method='POST' action='')
      button.button(type='submit') Delete